{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> CREAR HABITACION </h3>

<form action="" method="POST">
    {% csrf_token %}

    <div>
        <label for="{{ form.number.id_for_label }}"> NRO. DE LA HABITACION </label> <br>
        {{ form.number }}
    </div>
    <br>

    <div>
        <label for="{{ form.preview.id_for_label }}"> DESCRIPCION DE PREVISUALIZACION </label> <br>
        {{ form.preview }}
    </div>
    <br>

    <div>
        <label for="{{ form.description.id_for_label }}"> DESCRIPCION DE LA HABITACION </label> <br>
        {{ form.number }}
    </div>
    <br>

    <div>
        <label for="{{ form.bedroom.id_for_label }}"> NUMERO DE DORMITORIOS </label> <br>
        {{ form.bedroom }}
    </div>
    <br>

    <div>
        <label for="{{ form.bathroom.id_for_label }}"> BAÑOS </label> <br>
        {{ form.bathroom }}
    </div>
    <br>

    <div>
        <label for="{{ form.availability.id_for_label }}"> ESTADO DE DISPONIBILIDAD </label> <br>
        {{ form.availability }}
    </div>
    <br>

    <div>
        <label for="{{ form.price.id_for_label }}"> PRECIO DE LA HABITACION </label> <br>
    </div>
    <br>

    <button> CREAR HABITACION </button>
</form>