{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> ELIMINAR HABITACION Nro. {{ room.number }} </h3>

<form action="" method="POST">
    {% csrf_token %}

    {% comment %} <img src=""> {% endcomment %}

    <button> ELIMINAR HABITACION </button>
</form>