<article>
    <h3> HABITACION NRO. {{ room.number }} </h3>
    {% comment %} <img src=""> {% endcomment %}
    <p> {{ room.preview }} </p>
    <p> DESCRIPCION <br>
        {{ room.description }}
    </p>
    <p> DORMITORIOS: {{ room.bedroom }} </p>
    <p> BAÑOS: {{ room.bathroom }} </p>
    <p> ESTADO DE DISPONIBILIDAD: {{ room.availability }} </p>
    <p> PRECIO DE LA HABITACION: {{ room.price }} </p>

    <a href="{% url 'room:modify_room' room.pk %}"> MODIFICAR ESTADO DE LA HABITACION </a>
    <a href="{% url 'room:delete_room' room.pk %}"> ELIMINAR HABITACION </a>
</article>