{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3 class="rooms-availability-dashboard"> HABITACIONES DISPONIBLES </h3>

{% block room %}

    <a href="{% url 'room:create_room' %}" class="create-room-dashboard"> CREAR HABITACION </a>

    <section class="rooms-dashboard">

        {% for room in rooms %}

            <article class="room-dashboard">
                {% comment %} <img src=""> {% endcomment %}
                <h3 class="room-number"> HABITACION NRO. {{ room.number }} </h3>
                <p class="room-specification"> ESTADO DE DISPONIBILIDAD: {{ room.availability }} </p>
                <p class="room-specification"> PRECIO: {{ room.price }} </p>
                <a href="{% url 'room:edit_room' room.pk %}" class="edit-room"> VER HABITACION </a>
            </article>

        {% endfor %}

    </section>

{% endblock %}