{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> MODIFICAR ESTADO DE LA HABITACION {{ room.number }} </h3>

<form action="" method="POST" class="modify-room">
    {% csrf_token %}

    <div>
        <label for="{{ form.availability.id_for_label }}"> ESTADO DE DISPONIBILIDAD </label> <br>
        {{ form.availability }}
    </div>
    <br>

    <div>
        <label for="{{ form.price.id_for_label }}"> PRECIO DE LA HABITACION </label> <br>
        {{ form.price }}
    </div>
    <br>

    <button class="modify"> MODIFICAR ESTADO </button>
</form>