<!-- Information about the Hotel -->
<main>
    <h3> Sobre Imperium Hotel </h3>

    <img src="">

    <p> Imperium Hotel es un Hotel dedicado a entregar una Experiencia, Comoda, Agradable y Moderna a nuestros Huespedes. <br>
        Contamos con Habitaciones equipadas, espacios pensados para el descanso y servicios diseñados para hacer cada estadia una Experiencia Satisfactoria.
    </p>

    <p> Nuestro compromiso es ofrecer una atencion cercana y de calidad, adaptandonos a las necesidades de cada visitante </p>

    <p> <strong> CONTACTO </strong> </p>
    <p> Telefono: +56 9 5342 7589 </p>
    <p> Email: impreium@hotel.com </p>
    <p> Redes Sociales: Instagram - Facebook </p>
</main>