{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<!-- Information about the Hotel -->
<main class="information-hotel">
    <h3 class="about-hotel"> Sobre Imperium Hotel </h3>

    <img src="">

    <p> Imperium Hotel es un Hotel dedicado a entregar una Experiencia, Comoda, Agradable y Moderna a nuestros Huespedes. <br>
        Contamos con Habitaciones equipadas, espacios pensados para el descanso y servicios diseñados para hacer cada estadia una Experiencia Satisfactoria.
    </p>

    <p> Nuestro compromiso es ofrecer una atencion cercana y de calidad, adaptandonos a las necesidades de cada visitante </p>

    <p> <strong> CONTACTO </strong> </p>
    <p> Telefono: +56 9 5342 7589 </p>
    <p> Email: impreium@hotel.com </p>
    <p> Redes Sociales: Instagram - Facebook </p>
</main>