{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> Imperium Hotel </title>
</head>
<body>
    <!-- Navbar to visit different link -->
    <header>
        <nav class="menu-navegation">
            {% if user.is_authenticated and not user.is_staff %}
                <a href="{% url 'client:logout_client' %}" class="link-navegation"> CERRAR SESION </a>
                <a href="{% url 'reservation:list_reservation' %}" class="link-navegation"> VER RESERVAS </a>
            {% elif user.is_staff %}
                <a href="{% url 'client:logout_client' %}" class="link-navegation"> CERRAR SESION </a>
            {% else %}
                <a href="{% url 'client:register_client' %}" class="link-navegation"> REGISTRARSE </a>
                <a href="{% url 'client:login_client' %}" class="link-navegation"> INICIAR SESION </a>
            {% endif %}

            <p class="name-hotel"> IMPREIUM HOTEL </p>
            <a href="{% url 'room:list_room' %}" class="link-navegation"> HABITACIONES </a>
            <a href="{% url 'about_us' %}" class="link-navegation"> SOBRE NOSOTROS </a>
        </nav>
    </header>

    <!-- Description of the Hotel -->
    {% if user.is_staff %}
        <main>
        
            <!-- Display all Room availability in the Hotel -->    
            <section>
                {% include 'dashboard_room/manage_room.html' %}
            </section>

    {% else %}
            {% include 'home/home.html' %}
        
            <section class="show-rooms">
                {% include 'room/list_room.html' %}
            </section>
            
            <!-- Link to Restaurant -->
            {% include "home/restaurant.html" %}
        </main>
        
        <!-- Contact Form to contact a the Hotel -->
        <footer>
            {% include 'home/form.html' %}
        </footer>
    {% endif %}
</body>
</html>