{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> RESERVAR HABITACION Nro. {{ room.number }} </h3>

<form action="" method="POST" class="reservation-create">
    {% csrf_token %}

    <div>
        <label for="{{ form.room.id_for_label }}"> NRO. DE HABITACION QUE RESERVA </label> <br>
        {{ form.room }}
    </div>
    <br>

    <div>
        <label for="{{ form.people.id_for_label }}"> NRO. DE PERSONAS QUE INGRESAN </label> <br>
        {{ form.people }}
    </div>
    <br>

    <div>
        <label for="{{ form.enter.id_for_label }}"> FECHA DE ENTRADA </label> <br>
        {{ form.enter }}
    </div>
    <br>

    <div>
        <label for="{{ form.exit.id_for_label }}"> FECHA DE SALIDA </label> <br>
        {{ form.exit }}
    </div>
    <br>

    <div>
        <label for="{{ form.payment.id_for_label }}"> INGRESE DINERO PARA PAGAR </label> <br>
        {{ form.payment }}
    </div>
    <br>

    <button class="confirm-reservation"> REALIZAR RESERVA </button>
</form>