{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<article class="reservation-information">
    <h3 class="reservation-room"> RESERVA DE LA HABITACION Nro. {{ room.number }} </h3>
    {% comment %} <img src=""> {% endcomment %}
    <p> Habitacion reservada por {{ client.first_name }} </p>
    <p> Nro. de Personas que asisten: {{ reservation.people }} </p>
    <p> Fecha de Entrada: {{ reservation.enter }} </p>
    <p> Fecha de Salida: {{ reservation.exit }} </p>
    <p> Total pagado: {{ reservation.payment }} </p>

    <a href="{% url 'reservation:delete_reservation' reservation.pk %}" class="cancel-reservation"> CANCELAR RESERVA </a>
</article>