{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> RESERVAS CREADAS </h3>

{% block reservation %}

    <section class="reservations">

        {% for reservation in reservations %}
            <article class="reservation">
                {% comment %} <img src=""> {% endcomment %}
                <h3 class="room-reservation"> Reserva en la Habitacion Nro. {{ room.number }} </h3>
                <p class="information-reservation"> Reservado por: {{ client.first_name }} </p>
                <p class="information-reservation"> Fecha de Entrada: {{ reservation.enter }} </p>
                <p class="information-reservation"> Fecha de Salida: {{ reservation.exit }} </p>
                <a href="{% url 'reservation:detail_reservation' reservation.pk %}" class="detail-reservation"> VER RESERVA </a>
            </article>
        {% endfor %}

    </section>

{% endblock %}