.menu-navegation {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.link-navegation {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.service-hotel > h3 {
  font-size: 35px;
  text-align: center;
}

.service-hotel {
  font-size: 20px;
}

.card-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.card-service {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.description-restaurant {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  left: 300px;
  width: 745px;
}

.visit-restaurant {
  background-color: black;
  border-radius: 4px;
  color: white;
  padding: 10px;
  position: relative;
  top: 30px;
  text-decoration: none;
}

.contact {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: Imbue;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.register {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: Imbue;
  font-size: 18px;
  padding: 10px;
}

.login {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: Imbue;
  font-size: 18px;
  padding: 10px;
}

.detail-room {
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.edit-room {
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  padding: 10px;
  position: relative;
  left: 475px;
  top: 35px;
  text-decoration: none;
}

.create-room-dashboard {
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 10px;
  position: relative;
  top: 25px;
  text-decoration: none;
}

.room-create {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: Imbue;
  font-size: 18px;
  padding: 10px;
}

.room-modify {
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 10px;
  position: relative;
  left: 15px;
  top: 30px;
  text-decoration: none;
}

.modify {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: Imbue;
  font-size: 18px;
  padding: 10px;
}

.room-delete {
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 10px;
  position: relative;
  left: 30px;
  top: 30px;
  text-decoration: none;
}

.delete {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: Imbue;
  font-size: 18px;
  padding: 10px;
}

.detail-reservation {
  background-color: black;
  border-radius: 4px;
  color: white;
  padding: 10px;
  position: relative;
  left: 390px;
  top: 10px;
  text-decoration: none;
}

.create-reservation {
  background-color: black;
  border-radius: 4px;
  color: white;
  padding: 10px;
  position: relative;
  top: 10px;
  text-decoration: none;
}

.confirm-reservation {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: Imbue;
  font-size: 18px;
  padding: 10px;
}

.cancel-reservation {
  background-color: black;
  border-radius: 4px;
  color: white;
  padding: 10px;
  position: relative;
  top: 20px;
  text-decoration: none;
}

.reservation-delete {
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: Imbue;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.show-rooms {
  background-color: black;
  max-height: 570px;
  height: 100%;
  padding: 30px;
}

.availability-rooms {
  color: white;
  font-size: 30px;
}

.rooms-availability-dashboard {
  font-size: 28px;
}

.rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  max-width: 955px;
  margin: 0 auto;
}

.room {
  background-color: white;
  box-sizing: border-box;
  font-size: 19px;
  min-width: 280px;
  padding: 16px;
  text-align: left;
  width: calc(33.333% - 20px);
}

.rooms-dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  top: 50px;
}

.room-dashboard {
  background-color: #C3C3C3;
  max-width: 578px;
  padding: 8px;
  height: 235px;
  width: 100%;
  text-align: left;
}

.number-room {
  font-size: 26px;
  margin-left: 80px;
}

.room-number {
  font-size: 26px;
  margin-left: 320px;
}

.specification-room {
  font-size: 18px;
  margin-left: 518px;
  text-align: left;
}

.room-specification {
  font-size: 18px;
  margin-left: 320px;
}

.create-room {
  font-size: 20px;
  margin-left: 518px;
  text-align: left;
}

.modify-room {
  font-size: 20px;
  margin-left: 518px;
  text-align: left;
}

.delete-room {
  font-size: 20px;
  margin-left: 518px;
  text-align: left;
}

.reservations {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.reservation {
  background-color: #C3C3C3;
  padding: 10px;
  height: 230px;
  width: 470px;
  text-align: left;
}

.reservation > .information-reservation {
  font-size: 18px;
  margin-left: 240px;
}

.reservation > .room-reservation {
  font-size: 22px;
  margin-left: 240px;
}

.reservation-information {
  font-size: 18px;
  margin-left: 545px;
  text-align: left;
}

.reservation-information > .reservation-room {
  font-size: 26px;
}

.reservation-create {
  font-size: 18px;
  margin-left: 575px;
  text-align: left;
}

.delete-reservation {
  text-align: center;
}

body {
  font-family: Imbue;
  margin: 0;
  padding: 0;
  text-align: center;
}

.name-hotel {
  color: white;
  font-size: 30px;
}

.description-hotel {
  color: white;
  padding: 150px;
}

.form-contact {
  font-size: 22px;
  position: relative;
  top: 50px;
}

.contact-client {
  font-size: 18px;
  margin-left: 575px;
  padding-bottom: 50px;
  position: relative;
  top: 50px;
  text-align: left;
}

.information-hotel {
  font-size: 18px;
  margin: 30px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: left;
  width: 700px;
}

.information-hotel > .about-hotel {
  text-align: center;
}

.return {
  color: black;
  position: relative;
  right: 510px;
  top: 30px;
  text-decoration: none;
}

.register-client {
  margin-left: 595px;
  margin-top: 30px;
  text-align: left;
}

.login-client {
  margin-left: 595px;
  margin-top: 30px;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
