{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<!-- Show description of the Room in the Hotel -->
<article class="specification-room">
    <h3 class="number-room"> {{ room.number }} </h3>
    <p> {{ room.description }} </p>
    <p> DORMITORIOS: {{ room.bedroom }} </p>
    <p> BAÑOS: {{ room.bathroom }} </p>
    <p> ESTADO DE DISPONIBILIDAD: {{ room.availability }} </p>
    <p> PRECIO: {{ room.price }} </p>

    <a href="{% url 'reservation:create_reservation' %}" class="create-reservation"> RESERVAR HABITACION </a>
</article>