{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3 class="availability-rooms"> HABITACIONES DISPONIBLES </h3>

{% block room %}

    <!-- Display all Room in the Hotel -->
    <section class="rooms">

        {% for room in rooms %}
            <article class="room">
                {% comment %} <img src=""> {% endcomment %}
                <h5 class="number-room"> Habitacion {{ room.number }} </h5>
                <p> {{ room.preview }} </p>
                <p> {{ room.availability }} </p>
                <p> {{ room.price }} </p>
                <a href="{% url 'room:detail_room' room.pk %}" class="detail-room"> VER MAS </a>
            </article>
        {% endfor %}
    
    </section>

{% endblock %}