{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h2> RESTAURANT DE IMPERIUM HOTEL </h2>

<nav>
    <label> BUSCAR PLATO EN EL MENU </label> <br>
    <input type="text"> <button> BUSCAR </button>
</nav>

<section>

    <!-- Display all Item of the Menu in Restaurant of the Hotel -->
    {% for item in items %}
        <article>
            {% comment %} <img src=""> {% endcomment %}
            <h3> {{ item.name }} </h3>
            <p> {{ item.availability }} </p>
            <p> {{ item.price }} </p>
            <a href="{% url 'menu_item:detail_item' menu_item.pk %}"> ORDENAR PLATO </a>
        </article>
    {% endfor %}

</section>