{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<!-- Show information of the Orden create in Restaurant -->
<article>
    <h3> {{ order.name }} </h3>
    {% comment %} <img src=""> {% endcomment %}
    <p> PEDIDO POR: {{ client.first_name }} </p>
    <p> CANTIDAD PEDIDO: {{ order.amount }} </p>
    <p> PAGO TOTAL: {{ order.payment }} </p>
    <a href="{% url 'order:delete_order' order.pk %}"> CANCELAR ORDEN </a>
</article>