{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Imbue:opsz,wght@10..100,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> ORDENES REALIZADAS </h3>

<section>
    {% for order in orders %}
        <article>
            <h5> ORDEN: {{ order.name }} </h5>
            <p> PEDIDO POR: {{ client.first_name }} </p>
            <p> CANTIDAD PEDIDA: {{ order.amount }} </p>
            <p> PAGO TOTAL: {{ order.payment }} </p>
            <a href="{% url 'order:detail_order' order.pk %}"> VER ORDEN </a>
        </article>
    {% endfor %}
</section>
