@use './menu_navegation/menu_navegation.scss';
@use './service/service.scss';
@use './restaurant/restaurant.scss';
@use './button/button.scss';
@use './room/room.scss';


body {
    font-family: Imbue;
    margin: 0;
    padding: 0;
    text-align: center;
}

.name-hotel {
    color: white;
    font-size: 30px;
}

.description-hotel {
    color: white;
    padding: 150px;
}

.contact-client {
    margin-left: 575px;
    position: relative;
    top: 50px;
    text-align: left;
}

.information-hotel {
    font-size: 18px;
    margin: 30px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: left;
    width: 700px;
}

.information-hotel > .about-hotel {
    text-align: center;
}

.return {
    color: black;
    position: relative;
    right: 510px;
    top: 30px;
    text-decoration: none;
}

.register-client {
    margin-left: 595px;
    margin-top: 30px;
    text-align: left;
}

.login-client {
    margin-left: 595px;
    margin-top: 30px;
    text-align: left;
}